.body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-family: "Open Sans", sans-serif;
}

.container {
  margin: 0px 166px;
}
.header {
  background-image: url(bg.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-line {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  margin-right: 25px;
  transition: color 0.2s linear;
}
.nav-item:hover {
  color: red;
}

.cart {
  position: relative;
  border-right: 1px solid #ffffff;
  padding-right: 10px;
  height: 50px;
}
.cart-img {
  position: absolute;
  top: 18px;
  right: 7px;
}
.num {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.2s linear;
}
.num :hover {
  color: red;
  
}

.phone-text {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}

.phone-holder {
  display: flex;
  align-items: center;
}
.button {
  background-color: #ff7400;
  color: #ffffff;
  text-decoration: none;
  padding: 14px 18px;
  font-weight: 700;
  transition: background-color 0.2s linear;
}
.button :hover {
  background-color: #4d2eda;
}
/* поебень выше так и не сработала, потом для себя уже разберись с этим говном */

.header-down {
  position: relative;
}

.header-title {
  color: #D67E35;
  font-family: 'Tinos', serif;
  font-size:  50px;
  font-weight: 400;
  text-align: center;
  position:absolute;
  left: 0;
  margin-top: 222px;
  margin-bottom: 12px;
}
.header-suptitle {
  color: white;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

.header-suptitle:after {
  position: absolute;
  content: '' ;
  height: 2px;
  width: 61px;
  background-color: #ffffff;
  top: 127px;
  left: 56px;
}

.header-suptitle:before {
  position: absolute;
  content: '' ;
  height: 2px;
  width: 61px;
  background-color: #ffffff;
  top: 127px;
  left: 308px;
}
.header-button {
  background-color: #FF7400;
  padding: 14px 28px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  transition: color 0.3s linear ;
}
.header-button :hover {
  background-color: #7e522f;
}
